body {
  margin: 0; 
  font-family: raleway;
  scroll-behavior: smooth;
 background-color:rgb(199, 173, 142) ;

}

header {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 15px auto 0;
  
  justify-content: space-around;
  background-color:rgb(116, 96, 72) ;
  margin: 0%;

}
header a{
  text-decoration: none;
  color: white;
  display: flex;
}
header p{
      text-align: center;
      color: aliceblue;
      font-style: oblique;
      font-variant: small-caps;
      margin-top: 90px;
     

}

header h1{
  margin-top: 44px;
}
header img{
  width: 116px;
  height:116px;
  margin-left: 32px;
  object-fit: cover;
  margin: 8px;
}
footer{
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: aliceblue;
  background-color: rgb(116, 96, 72);
  font-style: oblique;
  font-variant: small-caps;
}